# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Output Folders
output/
.anjuta/
.kdev4/
.idea/
Debug/
Release/

# Visual Studio
*.opensdf
*.sdf
.vs/

# Node
website/node_modules

# User data
settings.json
