extends ../layout.jade
block lead
   div(class="ui one column stackable center aligned page grid")
      div(class="column twelve wide")
         img(src="/images/logo-badge.png" style="padding: 16px")
         div(class="ui raised text container segment")
            | Welcome to Harvest-Rogue! your farming, crafting, mining, socializing, questing looting roguelike! This game is in
            strong  very early development
            | , and as such, we are looking for volunteers in all areas, as well as feedback. Check us out on the following platforms: 
            div
               a(class="mini ui primary labeled icon button" href="https://github.com/essial/harvest-rogue") GitHub 
                  i(class="github alternate icon")   
               a(class="mini ui primary labeled icon button" href="https://www.reddit.com/r/harvestrogue/") Reddit 
                  i(class="reddit icon")
               a(class="mini ui primary labeled icon button" href="https://gitter.im/essial/harvest-rogue") Gitter 
                  i(class="comment icon")
               div(class="fb-like" data-href="http://www.harvestrogue.com/" data-layout="button" data-action="like" data-show-faces="true" data-share="true")
              
block content
   div(class="ui container")
      h2(class="ui header") News
      div(class="ui raised text segment message")
         h3 Feburary 14, 2016 - Alpha 1 Released!
         div(class="ui text")
            | We have released alpha 1 of Harvest-Rogue! These changes include a new dynamic json based system which
            | allows the game to be completely customized! Next up on the list is the crafting system.
         h4 New in this release
         div(class="ui bulleted list")
            div(class="item") JSON formatted data files describing all objects
            div(class="item") New artwork by BoiPichu
            div(class="item") Crops are now harvestable
            div(class="item") Seeds can be obtained by chopping crops with an axe
            div(class="item") Some items can stack
         h4 Known Isses
         div(class="ui bulleted list")
            div(class="item") Starting a new game does not clear the player's currently equipped item from the previous game. 
         a(class="mini ui primary labeled icon button" href="https://github.com/essial/harvest-rogue/releases") Harvest-Rogue Releases 
            i(class="download icon")
         a(class="mini ui primary labeled icon button" href="https://www.reddit.com/r/harvestrogue/comments/45omke/alpha_1_released/") Reddit Release Thread 
            i(class="reddit icon")