extends ../layout.jade

block lead

block content
   div(class="ui container")
      h2(class="ui header") Account Login
      div(class="ui raised text segment message")
         a(class="ui primary labeled icon button" href="/auth/facebook") Login with Facebook 
            i(class="facebook icon")
         
         a(class="ui primary labeled icon button" href="/auth/github") Login with GitHub 
            i(class="github icon")