extends ../layout.jade

block lead

block content
   div(class="ui container")
      h2(class="ui header") Screenshots
      h3(class="ui header") Alpha 1 Release
      a(class="ui large image rounded" href="images/screenshots/alpha1.png")
         img(src="images/screenshots/alpha1.png")
      h3(class="ui header") Alpha 0 Release
      a(class="ui large image rounded" href="images/screenshots/alpha0.png")
         img(src="images/screenshots/alpha0.png")