head
   meta(charset="utf-8")
   meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
   meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
   meta(name="description" content="Harvest-Rogue: Your farming, crafting, mining, socializing, questing looting roguelike!")
   meta(name="keywords" content="roguelike, roguelike games, roguelike game, farming game, harvest moon, rune factory, open source")
   title= "Harvest-Rogue - " + pageTitle
   link(rel="stylesheet" type="text/css" href="/css/semantic.min.css")
   link(rel="stylesheet" type="text/css" href="/css/site.css")
   