head
   meta(charset="utf-8")
   meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
   meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
   meta(name="description" content="This open source roguelike has you farming, crafting, mining, socializing, questing, looting, and more!")
   meta(name="keywords" content="roguelike, roguelike games, roguelike game, farming game, harvest moon, rune factory, open source, game, harvest-rogue")
   meta(name="msvalidate.01" content="5018DACC1064CFFB213D7397F70B62DC")
   meta(property="og:image" content="http://www.harvestrogue.com/logo-square.png")
   meta(property="og:description" content="This open source roguelike has you farming, crafting, mining, socializing, questing, looting, and more!")
   if (titleOverride == true)
      title= pageTitle
   else
      title= "Harvest-Rogue - " + pageTitle
   link(rel="stylesheet" type="text/css" href="/css/semantic.min.css")
   link(rel="stylesheet" type="text/css" href="/css/site.css")
   