doctype html
html
   include header
      body
         block lead
         div(class="ui main menu" id="topMenu")
            div(class="ui text container")
               div(class="header item") 
                  img(src="images/logo-badge.png" style="height: 30px; width: auto;")
               a(class="item" href="/") News
               a(class="item" href="/screenshots") Screenshots
               a(class="item" href="/forums") Forums
               a(class="item" href="/login") Log In
         block content
         include footer
         